
.card 
{
	margin-top: 1.5em;
}

.container
{
	margin-top: 1.5em;
}

.row
{
	margin-top: 1em;
}

.productScroll
{
	overflow-y: scroll;
}

.badge
{
	font-size: 14px;
}

#scrollableDiv
{
	height: 290px;
	overflow: scroll;
	overflow-x: hidden;
}

#publishText
{
	font-weight: bold;	
}